.animate-project-list > li{
  opacity: 0;
  animation: fade;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  } 
  to {
    opacity: 1;
  }
}