a[target='_blank']::after {
  content: '\02934';
  position: absolute;
  opacity: 0;
  z-index: 2;
  vertical-align: text-top;
  font-size: 82%;
  transform: translate(0, 0) rotate(45deg);
  transform-origin: bottom left;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  text-decoration: none;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  pointer-events: none;
}

a[target='_blank']:hover::after{
  text-decoration: none;
  opacity: 1;
  transform: translate(-20%, -40%) rotate(0deg);
}