{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": "next",
  "plugins": [
    "simple-import-sort"
  ],
  "rules": {
    "react/no-unescaped-entities": 0,
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    {
      "files": [
        "src/pages/api/**"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}