@tailwind base;

html {
  @apply font-medium text-gray-900;
  font-size: 0.9em;
}

*:focus, button:focus {
  outline-style: solid;
  outline-color: #000;
}

@screen dark-mode {
  html {
    @apply bg-dark-mode text-gray-300;
  }
  *:focus, button:focus {
    outline-color: #fff;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1em;
  }
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-xl;
}

p {
  @apply text-xl font-normal mb-2;
}

s {
  opacity: 0.60;
}

@tailwind components;
@tailwind utilities;
